
.titulo {
    font-size: 50px;
    font-weight: 700;
    color: white;
    font-family: armWrestler;
    padding-top: 54px;
    position: absolute;
    top: 8px;
    left: 16px;
    float:left;
}

.lema {
    font-size: 30px;
    font-weight: 700;
}

.imagenPortada {
    width: 100%;
    height: 100%;
}

.textoFecha{
    font-size: 20px;
    float: center;
    padding-top: 20%;
    padding-left: 20%;
}

.video{
    width: 100%;
    height: 415px;
 }

 .descripcion{
    font-size: 20px;
    float: center;
 }
 
.descripcion{
    padding-left: 20px;
    float: left;
    padding-left: 15px;
    float: left;
    font-size: 20px;
    float: left;
    color: black;
    border-left: 30px solid grey;
    border-right: 30px solid grey;
    background-color: white;
}

.logoTorneo{
    width: 415px;
    height: 415px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.btn-group-lg>.btn, .btn-lg {
    padding: 0px 20px;
    font-size: 16px;
}

.btn-primary {
    padding-top:22px;
     vertical-align: center;
    text-align: center;
}

.p{
    padding-left: 15px;
    float: left;
    font-size: 20px;
    float: left;
    color: black;
    border-left: 30px #e7e7e7;
    border-right: 30px #e7e7e7;
    background-color: #e7e7e7;
}